<html>
<head>
    <title>Mi sitio</title>
    <link rel="stylesheet" href="/stylesheets/style.css" >
</head>

<header>
    <nav>
        <ul>
            <li><a href="/peliculas/crear">Crear Pelicula</a></li>
            <li><a href="/peliculas">Ver Pelicula </a></li>
        </ul>
    </nav>
</header>

<body>
